* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: "sys";
  src: url("fonts/sys.ttf") format("truetype");
}

@font-face{
  font-family: "VT323";
  src: url("fonts/VT323-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

a:visited {
  text-decoration: none;
  color: #f7f7f7;
}

body {
  background-color: #0b444e;
}

/* CRT ELEMENTS */

#crt:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(9, 8, 8, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

@keyframes scanline {
  0% {
      bottom: 100%;
  }
  85% {
      bottom: 100%;
  }
  100% {
      bottom: 0%;
  }
}

/* NAVIGATION ELEMENTS */

#navbar {
  width: 100vw;
  height: 60px;
  background-color: #1f2c31;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  padding: 0px 50px;
  color: #eef4c6;
  font-family: 'sys', monospace;
  font-size: 20px;
}

.active-nav {
  background-color: #eef4c6;
}

.active-nav a {
  color: #1f2c31;
}

/* HEADER ELEMENTS */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-ring {
    display: flex;
  align-items: center;
  justify-content: center;
  background-color:#eef4c6;
  margin: 40px;
  height: 360px;
  width: 460px;
  clip-path: circle(130px);
  object-fit: cover;
}

.profile-background {
  background-color:#314046;
  height: 450px;
  width: 450px;
  clip-path: circle(120px);
  object-fit: cover;
}

.profile-sprite {
  width: 360px;
  height: 360px;
  object-fit: cover;
  transform: translate(5%, 28%);
}

/* BODY ELEMENTS */

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT */
#about-grid-container {
  display: grid;
  grid-template-columns: 20% 200px auto;
}
#about-stats-container {
  border: 2px solid blue;
  height: 100%;
}
#about-header-container {
  border: 2px solid red;
}
#about-body-container {
  border: 2px solid yellow;
}

/* 8-BIT GRAPHICS */

.pixel-column-2 {
  width: 128px;
  height: 256px;
  background: url("./pixel_graphics/pixel-column-2.svg") center center;
  background-size: cover;
}

.pixel-row-2 {
  width: 256px;
  height: 128px;
  background: url("./pixel_graphics/pixel-row-2.svg") center center;
  background-size: cover;
}

.pixel-row-body {
  padding: 48px 0px;
  width: 1280px;
  height: 256px;
  background: url("./pixel_graphics/pixel-row-body.svg") center center;
  background-size: cover;
  font-family: 'sys', monospace;
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  color: #2f332e;
}

.pixel-column-01 {
  width: 128px;
  height: 256px;
  background: url("./pixel_graphics/pixel-column-2.svg") center center;
  background-size: cover;
}

.pixel-row-02 {
  width: 256px;
  height: 128px;
  background: url("./pixel_graphics/pixel-row-2.svg") center center;
  background-size: cover;
}

