* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face{
  font-family: "sys";
  src: url("fonts/sys.ttf") format("truetype");
}

@font-face{
  font-family: "VT323";
  src: url("fonts/VT323-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "munro";
  src: url("fonts/munro.ttf") format("truetype");
}

@font-face{
  font-family: "munro-narrow";
  src: url("fonts/munro-narrow.ttf") format("truetype");
}

@font-face{
  font-family: "munro-small";
  src: url("fonts/munro-small.ttf") format("truetype");
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

a:visited {
  text-decoration: none;
  color: #f7f7f7;
}

body {
  background-color: #0b444e;
}

#page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CRT ANIMATION */

#crt:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(9, 8, 8, 0.20) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.20) 10%,
      rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

@keyframes scanline {
  0% {
      bottom: 100%;
  }
  85% {
      bottom: 100%;
  }
  100% {
      bottom: 0%;
  }
}

/* AVATAR ELEMENTS */
.profile-container {
  margin: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-ring {
    display: flex;
  align-items: center;
  justify-content: center;
  background-color:#eef4c6;
  margin: auto;
  height: 340px;
  width: 440px;
  clip-path: circle(130px);
  object-fit: cover;
}

.profile-background {
  background-color:#314046;
  height: 450px;
  width: 450px;
  clip-path: circle(120px);
  object-fit: cover;
}

.profile-sprite {
  width: 55%;
  height: 55%;
  /* object-fit: cover; */
  transform: translate(35%, 45%);
}

/* BODY ELEMENTS */

.title-container {
  display: flex;
  justify-content: center;
  font-family: 'munro', monospace;
  color: #eef4c6 ;
  line-height: 1.5;
  font-size: 24px;
  margin-bottom: 36px;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PROJECT ELEMENTS */
.projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-grid {
  display: grid;
  padding: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid orange;
}
.project-img {
  border: 2px solid blue;
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}
.project-title {
  border: 2px solid red;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}
.project-date {
  border: 2px solid green;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
.project-desc {
  border: 2px solid purple;
  grid-column: 2 / span 3;
  grid-row: 2 / span 2;
}

/* CASE STUDY ELEMENTS */

/* **CV ELEMENTS** */

.cv-job-block {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(11, 1fr);
}
.cv-header{
  border: 2px solid salmon;
}
.cv-job-title {
  grid-column: 1 / span 3;
  border: 2px solid red;
 
}

.cv-job-duration {
  grid-column: 4 / span 2;
  border: 2px solid green;
  font-family: 'munro-narrow';
}

.cv-job-desc {
  border: 2px solid purple;
  font-family: 'munro-narrow';
  grid-column: 1 / span 5;
  grid-row: 2 / span 5;
}

.cv-job-projects {
  border: 2px solid orange;
  grid-column: 1 / span 5;
  grid-row: 7 / span 5;
}


/* 8-BIT GRAPHICS */

.gba-nav-container {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gba-container {
  width: 700px;
  height: 280px;
  margin: 4px 4px;
}

 .gba-nav-content {
  text-align: center;
  width: 400px;
  height: 100%;
  /* padding: 1rem 4.5rem; */
  border: 2px solid #2f332e;
  background-color: #eef4c6;
  font-family: 'munro', monospace;
  font-size: 24px;
  color: #000;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

 .gba-content {
  width: auto;
  height: 100%;
  /* padding: 1rem 4.5rem; */
  border: 2px solid #2f332e;
  background-color: #eef4c6;
  font-family: 'munro-small', monospace;
  font-size: 24px;;
  color: #000;
  margin: 0;
  line-height: 1.5;
}

@media only screen and (max-width: 660px) {
  .gba-container {
  width: auto
}
}

/* GBA DECORATION CORNERS */

.gba-ornaments {
  position: relative;
  display: block;
  padding: 2px;
  background: #fef7c0;
  border: 4px solid #000;
}
.gba-ornaments::before,
.gba-ornaments::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-color: #000;
  border: solid 4px #000;
  background-color: #eef4c6;
}
.gba-ornaments::before {
  top: -6px;
  left: -6px;
  border-radius: 25% 25%;
}
.gba-ornaments::after {
  bottom:-6px;
  right: -6px;
  border-radius: 25% 25%;
}

/* **MEDIA QUERIES** */

