* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #0b444e;
}

h1 {
  font-family: munro, arial, mono;
}
p {
  font-size: 24px;
  font-family: VT323, arial, mono;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'sys';
  src: url('fonts/sys.ttf') format('truetype');
}

@font-face {
  font-family: 'VT323';
  src: url('fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'munro';
  src: url('fonts/munro.ttf') format('truetype');
}

@font-face {
  font-family: 'munro-narrow';
  src: url('fonts/munro-narrow.ttf') format('truetype');
}

@font-face {
  font-family: 'munro-small';
  src: url('fonts/munro-small.ttf') format('truetype');
}

/* CRT ANIMATION */

#crt:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 120vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(9, 8, 8, 0.2) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }
  75% {
    bottom: 100%;
  }
  100% {
    bottom: -50%;
  }
}

/* RETURN BUTTON, NAVIGATION */

#return-button {
  position: fixed;
  top: 8px;
  left: 8px;
  height: 52px;
  width: 52px;
  object-fit: cover;
  overflow: hidden;
  z-index: 100;
}
#return-sprite {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#return-sprite-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eef4c6;
  clip-path: circle(16px);
  min-width: 98%;
  min-height: 98%;
  z-index: 0;
}

/* BODY ELEMENTS */

.title-container {
  display: flex;
  justify-content: center;
  font-family: 'munro', monospace;
  color: #eef4c6;
  line-height: 1.5;
  font-size: 24px;
  margin-bottom: 36px;
}

.body-container {
  display: flex;
  justify-content: center;
  font-family: 'munro-small', monospace;
  color: #eef4c6;
  font-size: 32px;
  margin-bottom: 36px;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* AVATAR ELEMENTS */
.profile-container {
  margin: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef4c6;
  margin: auto;
  height: 340px;
  width: 440px;
  clip-path: circle(130px);
  object-fit: center;
}

.profile-background {
  background-color: #314046;
  height: 450px;
  width: 450px;
  clip-path: circle(120px);
}

.profile-sprite {
  width: 55%;
  height: 55%;
  object-fit: center;
  transform: translate(35%, 45%);
}

/* 8-BIT GRAPHICS */

.gba-nav-container {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gba-card-container {
  width: 80%;
  height: 280px;
  margin: 4px 4px;
}

.gba-modal-container {
  width: 80vw;
  height: 80vh;
  /* margin: 4px 4px; */
}

.gba-nav-content {
  text-align: center;
  width: 400px;
  height: 100%;
  border: 2px solid #2f332e;
  background-color: #eef4c6;
  font-family: 'munro', monospace;
  font-size: 24px;
  color: #000;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.gba-modal-content {
  width: 80vw;
  height: 100%;
  padding: 16px;
  border: 2px solid #2f332e;
  background-color: #eef4c6;
  font-family: 'munro-small', monospace;
  font-size: 24px;
  color: #000;
  /* line-height: 1.5; */
}

.gba-content {
  width: 100%;
  height: 260px;
  border: 2px solid #2f332e;
  background-color: #eef4c6;
  font-family: 'munro-small', monospace;
  font-size: 24px;
  color: #000;
  margin: 0;
  line-height: 1.5;
}

/* GBA DECORATION CORNERS */

.gba-ornaments {
  position: relative;
  display: block;
  padding: 2px;
  background: #fef7c0;
  border: 4px solid #000;
}

.gba-ornaments::before,
.gba-ornaments::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-color: #000;
  border: solid 4px #000;
  background-color: #eef4c6;
}
.gba-ornaments::before {
  top: -6px;
  left: -6px;
  border-radius: 25% 25%;
}
.gba-ornaments::after {
  bottom: -6px;
  right: -6px;
  border-radius: 25% 25%;
}

/* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 900px) {
  .gba-container {
    margin: 4px 4px;
    width: 100%;
    height: 280px;
  }
}
