* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR SECTION */
#main-nav img {
  height: 100%;
}

#main-nav a {
  color: #2d3030;
  text-decoration: none;
}

#main-nav ul {
  list-style: none;
}

#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100vw;
  margin-bottom: 5px;
  border-bottom: #c8cae6 solid 1px;
}

.nav-center {
  max-width: 1280px;
  margin: auto;
}

.nav-container {
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(8, 1fr);
  padding: 13px;
  align-items: center;
}

.logo-banjaxed {
  height: 56px;
  margin: auto;
}

.logo-banjaxed a {
  cursor: pointer;
}

.partner-badge {
  height: 56px;
}

#main-nav ul:last-child {
  grid-column-end: end;
  justify-self: center;
  display: flex;
}

#main-nav ul li a {
  padding: 16px;
  font-family: "all-round-gothic", sans-seriff;
  font-weight: 400;
}

#main-nav ul li a:hover {
  color: #2b9ed8;
}

/* ---------HERO SECTION--------- */
.tales-hero {
  height: 37.5vh;
}

.tales-hero-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 37.5vh;
  max-width: 1280px;
  margin: auto;
}

/* Hero Left Side */
.tales-hero-words {
  margin-top: 50px;
  width: 120%;
  height: 50%;
}

.tales-pre-header {
  font-family: "all-round-gothic", sans-seriff;
  font-weight: 400;
  font-style: normal;
  color: #2b9ed8;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

.tales-hero-header {
  font-family: "Hepta Slab", serif;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  line-height: 1.4;
  margin-top: 10px;
}

.tales-sub-header {
  font-family: "all-round-gothic", sans-seriff;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #71c7db;
  margin-top: 20px;
  letter-spacing: 1px;
}

/* Hero Right Side */
.tales-hero-pictures {
  position: relative;
  margin-top: 20px;
  height: 100%;
}

.tales-hero-ponder-container {
  position: absolute;
  z-index: 1;
  width: 550px;
  height: 300px;
  margin-left: 100px;
  margin-top: 20px;
}

.tales-ponder-img {
  width: 100%;
}

.tales-hero-dots-container {
  width: 400px;
  height: 400px;
  float: right;
  position: relative;
  top: -110%;
}

.tales-hero-dots {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

/* --------------------THE BLOG----------------- */
.the-blog {
  height: 70vh;
  background-color: #efefef;
  margin: 0;
  width: 100vw;
}

.blog-container {
  width: 100%;
  display: flex;
  position: absolute;
  margin-bottom: 100px;
}

.blog-header {
  font-family: all-round-gothic, sans-serif;
  font-weight: 800;
  font-size: 120px;
  font-style: normal;
  text-align: center;
  color: rgba(18, 18, 18, 0.06);
  transform: rotate(-0.25turn);
  margin-top: 180px;
  margin-left: -230px;
  height: 200px;
  width: 600px;
}

.post-img-card {
  width: 500px;
  height: 400px;
  margin-top: 100px;
  margin-left: -150px;
  background-color: #fff;
  border-radius: 30px;
  border: solid 1px #71c7db;
  box-shadow: 0.5px 0.5px 10px #d9d9d9, -0.5px -0.5px 10px #d9d9d9;
  transition: 0.3s ease-in-out;
}

.post-img-card:hover {
  cursor: pointer;
  box-shadow: 0.5px 0.5px 10px #d9d9d9, -0.5px -0.5px 10px #d9d9d9;
  transition: 0.3s ease-in-out;
  margin-top: 95px;
}

.post-img-container {
  height: 55%;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  border-bottom: solid 1px #71c7db;
}

.blog-img {
  width: 100%;
}

.post-card-words {
  height: 40%;
}

.post-card-header {
  font-family: "Hepta Slab", serif;
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  line-height: 1.5;
  margin: 30px;
}

.post-card-subheader {
  font-family: all-round-gothic, sans-serif;
  font-weight: 200;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 30px;
}

.social-card {
  margin-left: 450px;
  margin-top: 100px;
  width: 300px;
  height: 500px;
  background-color: #fff;
  border-radius: 30px;
}

.social-card-header {
  font-family: "Hepta Slab", serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  line-height: 1.4;
  margin: 20px;
  text-align: center;
  color: #2b9ed8;
}

/* -------------------JOIN US ON THE TRAIL SECTION---------------------- */
.join-us {
  height: 100vh;
}

.join-us-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.tales-form-img-container {
  width: 700px;
  height: 500px;
  margin-top: 70px;
  margin-left: 150px;
}

.tales-form-img {
  width: 100%;
}

.tales-form {
  width: 550px;
  height: 700px;
  margin: 100px 50px;
  border-radius: 10px;
  border: solid 1px #c0ccd9;
}

.tales-form-header {
  font-family: "Courier New", monospace;
  font-weight: 600;
  font-size: 30px;
  color: #3c4858;
  margin: 30px 30px 0;
}

.tales-form-sub-header {
  font-family: all-round-gothic, sans-serif;
  font-weight: 400;
  font-size: 17px;
  word-spacing: 1px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin: 20px 30px;
}

/* Styling the inside of the form */
.tales-form-container {
  margin: 30px;
}
.tales-form-group {
  margin-top: 15px;
}

label {
  display: block;
  color: #666;
  margin: 5px;
  font-family: all-round-gothic, sans-serif;
  font-weight: 400;
  font-size: 10px;
  word-spacing: 1px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

input {
  font-family: all-round-gothic, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.tales-form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.tales-subscribe {
  display: block;
  background: black;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}

/* --------------------FOOTER SECTION----------------------- */
#main-footer {
  background: #fff;
  font-family: all-round-gothic, sans-serif;
  font-weight: 400;
  text-decoration: none;
  border-top: #c8cae6 solid 1px;
  padding-top: 70px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.logo-container {
  width: 70px;
  height: 70px;
  margin-left: 400px;
  margin-right: 40px;
}

.logo-circle {
  width: 100%;
  height: 100%;
}

.list-paragraph {
  font-size: 24px;
  color: #2d3030;
  width: 400px;
}

.footer-list {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  color: #2b9ed8;
  width: 280px;
}

.footer-list li a {
  color: #2b9ed8;
}

.contact {
  margin-left: 16px;
}

.contact p {
  color: #2b9ed8;
  font-size: 20px;
}

.contact-links li a {
  text-decoration: none;
  list-style: none;
  color: #2d3030;
  transition: 0.3s ease-in-out;
  font-size: 16px;
}

.contact-links li a:hover {
  text-decoration: none;
  list-style: none;
  color: #2b9ed8;
  transition: 0.3s ease-in-out;
  font-size: 16px;
}

.about-btn-subscribe {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #71c7db;
  width: 220px;
  height: 35px;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 13px;
  border: none;
}

.about-btn-subscribe:hover {
  background-color: #71c7db;
  border: solid 1.5px #71c7db;
  cursor: pointer;
}

.social {
  grid-column: 4 / span 5;
}

.social button {
  height: 45px;
  width: 45px;
  margin-right: 8px;
  box-shadow: none;
  justify-content: space-between;
  border-radius: 15px;
  font-size: 20px;
  background-color: #fff;
  color: #2d3030;
  border: solid 1px #71c7db;
}

.social button:hover {
  cursor: pointer;
  border: solid 1.5px #2b9ed8;
  box-shadow: 0.5px 0.5px 10px #d9d9d9, -0.5px -0.5px 10px #d9d9d9;
  transition: 0.2s ease-in-out;
}

.footer-container li,
li a {
  text-decoration: none;
  list-style: none;
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

#main-footer .copyright {
  grid-column: 1 / span 5;
  text-align: center;
  margin-top: 24px;
  font-size: 12px;
  margin-bottom: 13px;
  padding-top: 50px;
}
